<ion-view view-title="Deals">

  <ion-nav-buttons side="right">
    <button class="button button-small button-icon button-clear ion-android-star" data-ng-click="goFavorite()">
    </button>
  </ion-nav-buttons>

  <ion-content ng-controller="CategoriesCtrl">
    <div class="categories">
      <div ng-repeat="category in categories">
        <div ng-if="category.image_url" class="card" ng-click="viewCategory(category.title)" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{category.image_url}});">
          <h4>{{category.title}}</h4>
        </div>
        <div ng-if="!category.image_url" class="card" ng-click="viewCategory(category.title)">
          <i class="icon ion-bonfire"></i>
          <h4>{{category.title}}</h4>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

