<ion-view view-title="Chats">
  <ion-content>
    <div ng-if="chats.length > 0">
      <ion-list class="chats-list">
        <ion-item ng-repeat="chat in chats" href="#/app/chats/{{chat.id}}" class="item">
          <div class="chat-profile-pic" style="background-image: url({{ chat.profile_pic }})"></div>
          <div class="chat-from-wrapper">
            <h2 class="chat-from">{{chat.from}}</h2> 
            <span ng-if="chat.unread_count > 0">{{ chat.unread_count }} new</span>
          </div>
          <p class="chat-last-message">{{chat.last_message}}</p>
          <span am-time-ago="chat.last_activity" class="chat-last-activity"></span>
        </ion-item>
      </ion-list>
    </div>
    <div class="feedback" ng-if="chats.length === 0">
      <h2>No chats yet!</h2>
    </div>
  </ion-content>
</ion-view>
