<ion-view view-title="{{recipient}}">
  <ion-nav-buttons side="right">
    <button class="button button-small button-icon button-clear ion-more" data-ng-click="showPopover($event)">
    </button>
  </ion-nav-buttons>
  <ion-content class="chat-view" overflow-scroll="true">
    <ion-list class="messages-list">
      <ion-item ng-repeat="message in messages" class="item">

        <div ng-if="!message.isOwner" class="received-msg">
          <div class="message-data">
            <h2 class="message-from">{{recipient}}</h2>

            <p ng-if="message.type === 'message'" class="message-content">{{message.content}}</p>
            <div ng-if="message.type === 'share'" ng-click="viewSharedDeal(message.Deal)">
              <p class="message-content">Check this out!</p>
              <div class="shared-deal">
                <div class="deal-img" style="background-image: url({{message.Deal.thumbnail}})"></div>
                <div class="deal-content">
                  <p class="deal-title">{{message.content}}</p>
                  <p class="deal-description" ng-bind-html="message.Deal.description"></p>
                </div>
                <i class="icon ion-chevron-right"></i>
              </div>
            </div>

          </div>
          <div class="message-meta">
            <span am-time-ago="message.timestamp" class="message-timestamp"></span>
          </div>
        </div>

        <div ng-if="message.isOwner" class="sent-msg">
          <div class="message-data">
            <h2 class="message-from">You</h2>

            <p ng-if="message.type === 'message'" class="message-content">{{message.content}}</p>
            <div ng-if="message.type === 'share'" ng-click="viewSharedDeal(message.Deal)">
              <p class="message-content">Check this out!</p>
              <div class="shared-deal">
                <div class="deal-img" style="background-image: url({{message.Deal.thumbnail}})"></div>
                <div class="deal-content">
                  <p class="deal-title">{{message.content}}</p>
                  <p class="deal-description" ng-bind-html="message.Deal.description"></p>
                </div>
                <i class="icon ion-chevron-right"></i>
              </div>
            </div>

          </div>
          <div class="message-meta">
            <div am-time-ago="message.timestamp" class="message-timestamp"></div>
          </div>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
  <div class="enter-message-bar" keyboard-attach="true">
    <div class="item item-input-inset">
      <button class="share" ng-click="openShareModal()">
        <i class="icon ion-ios-paper-outline"></i>
      </button>
      <label class="item-input-wrapper">
        <textarea msd-elastic ng-model="data.message" type="text" placeholder="Message" maxlength="2000" ng-keydown="onKeyPress($event)">
        </textarea>
      </label>
    </div>
  </div>
</ion-view>
