<ion-view view-title="{{ currentCategory }}">

  <ion-nav-buttons side="right">
    <button class="button button-small button-icon button-clear ion-heart" data-ng-click="viewLiked()">
    </button>
  </ion-nav-buttons>

  <ion-content delegate-handle="deals" overflow-scroll="true">
    <div ng-if="isLoading" class="feedback">
      <ion-spinner icon="dots"></ion-spinner>
    </div>
    <deal-card ng-if="!isLoading" ng-repeat="deal in deals"
               data-set="deal">
    </deal-card>
    <ion-infinite-scroll
      ng-if="!hasReachedEnd"
      on-infinite="loadDeals()"
      distance="10%"
      spinner="dots">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>

