<ion-view view-title="{{ deal.title }}">
  <ion-content ng-controller="DealCtrl">
    <div class="deal-view">

      <div class="img-wrapper">
        <div class="deal-img" style="background-image: url({{ deal.images[0] }})"></div>
      </div>

      <div class="row deal-title">
          <h2>{{ deal.title }}</h2>
          <deal-like-btn></deal-like-btn>
      </div>

      <div class="deal-info">
        <h3 class="title">Description</h3>
        <p ng-bind-html="deal.description"></p>
        
        <h3 class="title">Expires on</h3>
        <p>{{ deal.expiry | amDateFormat:'dddd, Do MMMM YYYY' }}</p>

        <h3 class="title">Provided by</h3>
        <p>{{ deal.DealProviderName }}</p>
      </div>

    </div>
  </ion-content>
</ion-view>

