<div class="deal profile-card">
  <div class="flipper-container" flip-card>
    <div class="flipper">
      <div class="card">
        <div class="large-profile-pic-header">
          <div class="large-profile-pic" style="background-image: url({{ ctrl.data.image_url }})">
          </div>
          <div class="item profile-pic-overlay">
            <span class="name">{{ ctrl.data.title }}</span>
            <span class="favorite" ng-class="liked ? 'liked' : ''" ng-click="favoriteCard()">0 liked<i class="icon ion-heart"></i></span>
          </div>
        </div>
        <div class="item card-content">
          <p>{{ ctrl.data.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

