<div class="deal profile-card">
  <div class="flipper-container" flip-card>
    <div class="flipper">
      <div class="card">
        <div class="large-profile-pic-header">
          <div class="large-profile-pic" style="background-image: url({{ ctrl.data.image_url }})">
          </div>
          <div class="deal-overlay">
            <span class="provider-name">NUStyles</span>
          </div>
          <div class="item profile-pic-overlay">
            <span class="name">{{ ctrl.data.title }}</span>
            <deal-like-btn></deal-like-btn>
          </div>
        </div>
        <div class="item card-content">
          <p>{{ ctrl.data.description }}</p>
        </div>
        <div class="item learn-more" ng-click="learnMore(ctrl.data.id)">
          <p>Learn More</p>
        </div>
      </div>
    </div>
  </div>
</div>

