<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Share a deal!</h1>
    <span class="button button-clear" ng-click="closeShareModal()">Close</span>
  </ion-header-bar>

  <ion-content>
    <div class="button-bar deal-share-seg-control">
      <a class="button" ng-class="{highlighted: viewOwnDeals}" ng-click="viewOwnDeals=true">Own liked deals</a>
      <a class="button" ng-class="{highlighted: !viewOwnDeals}" ng-click="viewOwnDeals=false">User's liked deals</a>
    </div>
  </ion-content>
</ion-modal-view>

