<ion-view view-title="Letterbox">
  <ion-nav-buttons side="right">
    <button class="button button-small button-icon button-clear ion-chatbubbles" ng-click="goChat()">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div ng-controller="CardsCtrl">
      <div class="partner-cards">
        <div class="partner-card moving-in" ng-repeat="card in cards">
          <div class="flipper-container">
            <div class="flipper">
              <div class="card front">
                <div class="card-image">
                  <div class="item item-image">
                    <img ng-src="{{ card.profile_pic }}" alt="Image" />
                  </div>
                  <div class="item item-header">
                    <span class="name">{{ card.name }}</span><span class="age">, {{ card.age }}</span><span class="location">{{ card.location }}</span>
                  </div>
                </div>
                <div class="item item-body">
                  <p>{{ (card.bio.length > 0) ? card.bio : '&nbsp;' }}</p>
                </div>
                <div class="item item-footer card-buttons">
                  <i class="icon ion-android-close button-reject"></i>
                  <span class="button-flip">
                    <i class="icon ion-android-person button-profile"></i>
                  </span>
                  <i class="icon ion-android-done button-answer"></i>
                </div>
              </div>

              <div class="card back" ng-controller="CardCtrl">
                <div class="back-container">
                  <div class="item item-image">
                    <img ng-src="{{ card.profile_pic }}" />
                    <ul>
                      <li>{{ card.name }}</li>
                    </ul>
                  </div>
                  <div class="item item-body">
                    <p>{{ card.bio }}</p>
                    <h3>Mutual Friends</h3>
                    <h3>Likes</h3>
                  </div>
                  <div class="item item-footer card-buttons">
                    <span class="button-flip">
                      <i class="icon ion-ios-undo button-back"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

