<ion-view view-title="Letterbox">
   <ion-nav-buttons side="right">
     <button class="button button-small button-icon button-clear" ng-class="{true:'ion-android-mail', false:'ion-android-drafts'}[numberOfLetters + numberOfMessages > 0]" data-ng-click="goNotifications()">
    </button>
    <div class="notification-bubble" data-ng-show="numberOfLetters + numberOfMessages > 0" data-ng-click="goNotifications()">
       {{ (numberOfLetters + numberOfMessages) > 99 ? '99+' : (numberOfLetters + numberOfMessages)}}
    </div>
  </ion-nav-buttons>
  <ion-content scroll="true" has-bouncing="false">
    <div ng-controller="CardsCtrl">
      <div ng-if="cards.length === 0" class="feedback">
        <div ng-if="isLoading" class="feedback">
          <h2 ng-if="!clearingPrevious">Finding letterboxes nearby</h2>
          <h2 ng-if="clearingPrevious">Showing skipped letterboxes</h2>
          <ion-spinner icon="dots"></ion-spinner>
        </div>
        <div ng-if="!isLoading">
          <h2>No letterboxes nearby</h2>
          <p>Try again later or tweak your settings</p>
        </div>
      </div>
      <div ng-if="isLoading" class="feedback">
        <h2 ng-if="!clearingPrevious">Finding letterboxes nearby</h2>
        <h2 ng-if="clearingPrevious">Showing skipped letterboxes</h2>
        <ion-spinner icon="dots"></ion-spinner>
      </div>
      <div ng-if="!isLoading && cards.length > 0" class="profile-cards">
        <div class="profile-card moving-in">
          <div class="flipper-container" flip-card>
            <div class="flipper">
              <div class="card front">
                <div class="large-profile-pic-header">
                  <div class="large-profile-pic" style="background-image: url({{ cards[0].profile_pic }})">
                  </div>
                  <div class="item profile-pic-overlay">
                    <span class="name">{{ cards[0].name }}</span><span class="age">, {{ cards[0].age }}</span><span class="location">{{ cards[0].location }}</span>
                  </div>
                </div>
                <div class="item card-content">
                  <p>{{ (cards[0].bio.length > 0) ? cards[0].bio : '&nbsp;' }}</p>
                </div>
                <div class="item card-buttons">
                  <div ng-click="changeCard()" class="card-button button-negative">
                    <i class="icon ion-close"></i>
                    <div class="button-detail">skip</div>
                  </div>
                  <div class="card-button button-flip">
                    <i class="icon ion-person"></i>
                    <div class="button-detail">profile</div>
                  </div>
                  <div ng-click="openSendLetter(cards[0])" class="card-button button-positive">
                    <i class="icon ion-edit"></i>
                    <div class="button-detail">answer</div>
                  </div>
                </div>
              </div>

              <profile-card data-info="cards[0]" callback="changeCard()">
                <div class="item card-buttons">
                  <div class="card-button button-flip">
                    <i class="icon ion-ios-undo"></i>
                    <div class="button-detail">back</div>
                  </div>
                </div>
              </profile-card>

            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
