<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{ selectedLetter.from }}'s letter to you</h1>
    <button class="button button-clear" ng-click="closeLetterModal()">Close</button>
  </ion-header-bar>
  <ion-content>
    <div class="item item-image">
      <img ng-src="{{ selectedLetter.profilePicMed }}" alt="Image" />
    </div>
    <div class="item item-body">
      <p><span class="name">{{ selectedLetter.from }}</span><span class="age">, {{ selectedLetter.age }}</span></p>
      <p>{{ selectedLetter.bio }}</p>
      <h3>Mutual Friends</h3>
      <h3>Likes</h3>
      <h3>Responses</h3>
      <div class="answer-question">
        <div class="question-choice" ng-repeat="question in selectedLetter.questionsAnswers">
          <div class="row">
            <div class="answer answer-left col" ng-class="{ 'selected' : !question.answer}">
              {{ question.option0 }}
            </div>
            <div class="answer answer-right col" ng-class="{ 'selected' : question.answer}">
              {{ question.option1 }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <button class="button button-assertive" ng-click="rejectLetter(selectedLetter)">Reject</button>
          </div>
          <div class="col col-50">
            <button class="button button-positive" ng-click="approveLetter(selectedLetter)">Approve</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>

