<div class="card" data-ng-class="ctrl.data.side">

  <div ng-transclude>
  </div>

  <div class="item card-buttons">
    <div ng-click="ctrl.leftClick()" class="card-button button-negative" data-ng-hide="ctrl.data.hideLeftButton">
      <i class="icon" data-ng-class="ctrl.data.leftIcon"></i>
      <div class="button-detail">{{ ctrl.data.leftText }}</div>
    </div>
    <div class="card-button button-flip">
      <i class="icon ion-person"></i>
      <div class="button-detail">{{ ctrl.data.centerText }}</div>
    </div>
    <div ng-click="ctrl.rightClick()" class="card-button button-positive" data-ng-hide="ctrl.data.hideRightButton">
      <i class="icon" data-ng-class="ctrl.data.rightIcon"></i>
      <div class="button-detail">{{ ctrl.data.rightText }}</div>
    </div>
  </div>
</div>
