<ion-view>
  <ion-content class="login-page">
    <a href="http://getletterbox.com">
      <div class="branding">
        <img src="img/splash.png">
      </div>
    </a>
    <form ng-submit="doLogin()">
      <button class="btn-login button button-light">
        <i class="icon ion-social-facebook"></i>Login with Facebook
      </button>
    </form>
    <!--<h4><span>Also available on </span><a href="https://itunes.apple.com/us/app/letterbox-discover-answer/id1054804304?ls=1&mt=8"><i class="icon ion-social-apple"></i></a><span> and </span><a href="https://play.google.com/store/apps/details?id=com.getletterbox.letterbox"><i class="icon ion-social-android"></i></a></h4>-->
    <h6>By logging in, you agree with our <a ng-click="openTermsOfUse()">terms of use</a>.</h6>
  </ion-content>
</ion-view>
