<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="left-side-menu">
    <ion-header-bar class="bar-stable">
      <div class="greeting">Hello, {{username}}</div>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close data-ng-class="{true: 'item-active', false: 'item-inactive'}[currentPage() === 'home']" href="#/app/home">
          <div class="icon-wrapper"><i class="icon ion-ios-people"></i></div>
          Discover
        </ion-item>
        <ion-item menu-close data-ng-class="{true: 'item-active', false: 'item-inactive'}[currentPage() === 'chats']" href="#/app/chats">
          <div class="icon-wrapper"><i class="icon ion-chatbubbles"></i></div>
          Chats
        </ion-item>
        <ion-item menu-close data-ng-class="{true: 'item-active', false: 'item-inactive'}[currentPage() === 'notifications']" href="#/app/notifications">
          <div class="icon-wrapper"><i class="icon ion-ios-bell"></i></div>
          Notifications
        </ion-item>
        <ion-item menu-close data-ng-class="{true: 'item-active', false: 'item-inactive'}[currentPage() === 'categories']" href="#/app/categories">
          <div class="icon-wrapper"><i class="icon ion-ios-book"></i></div>
          Catalogue
        </ion-item>
        <ion-item menu-close data-ng-class="{true: 'item-active', false: 'item-inactive'}[currentPage() === 'profile']" href="#/app/profile">
          <div class="icon-wrapper"><i class="icon ion-person"></i></div>
          Profile
        </ion-item>
        <ion-item menu-close data-ng-class="{true: 'item-active', false: 'item-inactive'}[currentPage() === 'settings']" href="#/app/settings">
          <div class="icon-wrapper"><i class="icon ion-gear-b"></i></div>
          Settings
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
