<ion-view>
  <ion-content class="onboard3-page">
    <div class="header">
      <h2>Add a short bio</h2>
      <h3>It will be shown on your profile</h3>
    </div>
    <div class="bio">
      <span class="counter">{{data.bio.length}} characters</span>
      <label class="item item-input">
        <textarea placeholder="Bio" rows="10" ng-model="data.bio" ng-change="onEnterText()"></textarea>
      </label>
    </div>
    <button class="btn-complete button button-light" ng-click="completeOnboardingStep3()">Complete onboarding</button>
  </ion-content>
</ion-view>
