<ion-view>
  <ion-slide-box class="onboard-0">
    <ion-slide>
      <div class="box">
        <img ng-src="http://lorempixel.com/500/500" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <img ng-src="http://lorempixel.com/500/500" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <img ng-src="http://lorempixel.com/500/500" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <img ng-src="http://lorempixel.com/500/500" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <img ng-src="http://lorempixel.com/500/500" />
        <button ng-click="startOnboard()" class="button">Start Onboarding!</button>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>

