<ion-view>
  <ion-slide-box class="onboard-0">
    <ion-slide>
      <div class="box">
        <img ng-src="img/onboarding-01.png" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <img ng-src="img/onboarding-02.png" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <img ng-src="img/onboarding-03.png" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <img ng-src="img/onboarding-04.png" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <img ng-src="img/onboarding-05.png" />
        <button ng-click="startOnboard()" class="button button-start-onboard">Start Onboarding!</button>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>

