<ion-view>
  <ion-content class="onboard2-page">
    <div class="header">
      <h2>Choose 5 questions for your profile</h2>
      <h3>People will answer these 5 questions</h3>
    </div>
    <div class="questions">
      <div ng-repeat="question in questions" class="question" >
        <button class="btn-randomise button button-small button-dark icon ion-shuffle" ng-click='getNewQn(question)'></button>
        <div class="option option0" ng-class="question.answer == 0 ? 'selected' : ''" ng-click="selectOption(question, 0)">
          {{question.option0}}
        </div>
        <div class="option option1" ng-class="question.answer == 1 ? 'selected' : ''" ng-click="selectOption(question, 1)">
          {{question.option1}}
        </div>
      </div>
    </div>
    <button class="btn-complete button button-light" ng-click="completeOnboardingStep2()">Next</button>
  </ion-content>
</ion-view>
