<ion-modal-view>
  <ion-content class="onboard2-page">
    <div class="header">
      <h2>Choose 5 questions for your profile</h2>
      <h3>People will answer these 5 questions</h3>
    </div>
    <div class="questions">
      <div class="question">
        <button class="btn-randomise button button-small button-dark icon ion-shuffle"></button>
        <div class="option">
          Live 1 life that lasts 1000 years
        </div>
        <div class="option selected">
          Live 10 lives that last 100 years each
        </div>
      </div>
      <div class="question">
        <button class="btn-randomise button button-small button-dark icon ion-shuffle"></button>
        <div class="option selected">
          Live 1 life that lasts 1000 years
        </div>
        <div class="option">
          Live 10 lives that last 100 years each
        </div>
      </div>
      <div class="question">
        <button class="btn-randomise button button-small button-dark icon ion-shuffle"></button>
        <div class="option">
          Live 1 life that lasts 1000 years
        </div>
        <div class="option">
          Live 10 lives that last 100 years each
        </div>
      </div>
      <div class="question">
        <button class="btn-randomise button button-small button-dark icon ion-shuffle"></button>
        <div class="option">
          Live 1 life that lasts 1000 years
        </div>
        <div class="option">
          Live 10 lives that last 100 years each
        </div>
      </div>
      <div class="question">
        <button class="btn-randomise button button-small button-dark icon ion-shuffle"></button>
        <div class="option">
          Live 1 life that lasts 1000 years
        </div>
        <div class="option">
          Live 10 lives that last 100 years each
        </div>
      </div>
    </div>
    <button class="btn-complete button button-light" ng-click="completeOnboarding()">Complete onboarding</button>
  </ion-content>
</ion-modal-view>
