<!-- other response will show the response of the sender's letter in a room, not necessary to be the other people's response, can be yours. -->
<ion-view view-title="Letter">
  <ion-content>
    <div class="response-cards">
      <div class="profile-card moving-in">
        <div class="flipper-container" flip-card>
          <div class="flipper">
            <div class="card front">
              <div class="small-profile-pic-header">
                <img class="small-profile-pic" ng-src="{{ response.profilePicMed }}" alt="Image" />
                <span class="name">{{ response.from }}</span><span class="age">, {{ response.age }}</span>
              </div>
              <div class="item card-content">
                <div class="section">
                  <h3>responses</h3>
                  <div class="questions">
                    <div class="question" ng-repeat="question in response.questionsAnswers">
                      <div class="option option0" ng-class="{ 'selected' : !question.answer}">
                        {{ question.option0 }}
                      </div>
                      <div class="option option1" ng-class="{ 'selected' : question.answer}">
                        {{ question.option1 }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
