<ion-view view-title="{{ profile.firstName }}, {{ profile.age }}">
  <ion-content>
    <div class="feedback" ng-if="isLoading">
      <h2>Loading your profile</h2>
      <ion-spinner icon="dots"></ion-spinner>
    </div>
    <div ng-if="!isLoading" class="profile-card moving-in">
      <div class="flipper-container" flip-card>
        <div class="flipper">
          <div class="my-profile card front">
            <div class="item card-content">
              <div class="section">
                <div class="small-profile-pic" style="background-image: url({{ profile.pictureMed }})" ng-click="openProfilePhotoModal()">
                </div>
                <div class="bio">
                  <h3>bio</h3>
                  <textarea placeholder="Add a short bio" rows="3" ng-model="profile.bio" ng-change="onEnterText()"></textarea>  
                </div>
              </div>
              <div class="section">
                <h3>questions</h3>
                <div class="questions">
                  <div class="question" ng-repeat="question in profile.questions">
                    <button class="btn-randomise button button-small button-dark icon ion-shuffle" ng-click='getNewQn(question)'></button>
                    <div class="option option0" ng-class="question.answer == 0 ? 'selected' : ''" ng-click="selectOption(question, 0)">
                      {{question.option0}}
                    </div>
                    <div class="option option1" ng-class="question.answer == 1 ? 'selected' : ''" ng-click="selectOption(question, 1)">
                      {{question.option1}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item card-buttons">
              <div class="card-button button-positive" ng-click="updateProfile()">
                <i class="icon ion-checkmark"></i>
                <div class="button-detail">update</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>