<div class="card back">
  <div class="back-container">
    <profile-pic-small data-set="ctrl.data"></profile-pic-small>
    <div class="item card-content">
      <div class="section">
        <h3>bio</h3>
        <p>{{ ctrl.data.bio }}</p>
      </div>

      <div class="section">
        <h3>mutual friends</h3>
        <p>{{ (ctrl.data.mutual_friends_count > 0) ? ctrl.data.mutual_friends_count : 0 }} mutual friends</p>
      </div>

      <div class="section">
        <h3>cutouts</h3>

        <div ng-if="ctrl.data.likedDeals.length === 0">
          <p>{{ ctrl.data.name }} does not have any cutouts yet!</p>
        </div>

        <ion-scroll direction="x" ng-if="ctrl.data.likedDeals.length > 0" has-bouncing="false">
          <div class="deal-pic" ng-repeat="deal in ctrl.data.likedDeals" style="background-image: url({{ deal.images[0] }})" ng-click="viewDeal(deal)">
          </div>
        </ion-scroll>
      </div>

      <div class="section">
        <button class="btn-report button button-outline button-assertive" ng-click="reportUser(ctrl.data.name, ctrl.data.hashedId, ctrl.callback)">
          Report user
        </button>
      </div>
    </div>

    <div ng-transclude>
    </div>

  </div>
</div>
