<div class="card back">
  <div class="back-container">
    <div class="small-profile-pic-header">
      <div class="small-profile-pic" style="background-image: url({{ ctrl.data.profile_pic }})">
      </div>
      <span class="name">{{ ctrl.data.name }}</span><span class="age">, {{ ctrl.data.age }}</span>
    </div>
    <div class="item card-content">
      <div class="section">
        <h3>bio</h3>
        <p>{{ ctrl.data.bio }}</p>
      </div>
      <div class="section">
        <h3>mutual friends</h3>
        <p>{{ (ctrl.data.mutual_friends_count > 0) ? ctrl.data.mutual_friends_count : 0 }} mutual friends</p>
      </div>
      <div class="section">
        <button class="btn-report button button-outline button-assertive" ng-click="reportUser(ctrl.data.name, ctrl.data.hashedId)">
          Report user
        </button>
      </div>
    </div>

    <div ng-transclude>
    </div>
  </div>
</div>
