<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Answer {{ cards[0].name }}'s Questions!</h1>
    <button class="button button-clear" ng-click="closeQuestionModal()">Close</button>
  </ion-header-bar>

  <ion-content scroll="false">
    <div class="answer-question" ng-controller="QuestionsCtrl">
      <div class="question-choice" ng-repeat="question in cards[0].questions">
        <div class="row">
          <div class="answer answer-left col" ng-class="{ 'selected' : selectedAnswer[$index] == 0}" ng-click="updateQuestionAnswer(0, $index)">
            {{ question.option0 }}
          </div>
          <div class="answer answer-right col" ng-class="{ 'selected' : selectedAnswer[$index] == 1}" ng-click="updateQuestionAnswer(1, $index)">
            {{ question.option1 }}
          </div>
        </div>
      </div>
      <button class="button button-positive" ng-click="submitQuestionAnswer()">Submit</button>
    </div>

  </ion-content>
</ion-modal-view>

