<ion-view view-title="Response">
  <ion-content>
    <div class="response-cards">
      <div class="profile-card moving-in">
        <div class="flipper-container" flip-card>
          <div class="flipper">
            <div class="card front">
              <profile-pic-small data-set="{'profile_pic': response.profilePicMed,
                                           'name': response.from,
                                           'age': response.age }"></profile-pic-small>
              <div class="item card-content">
                <div class="section">
                  <h3>{{ response.from }} got {{ numCorrect }} questions correct.</h3>
                  <div class="questions">
                    <div class="question" ng-repeat="question in response.questionsAnswers">
                      <div class="option option0" ng-class="{ 'selected' : !question.answer }">
                        <span>{{ question.option0 }}</span>
                        <i ng-if="question.isCorrect && !question.answer" class="is-correct icon ion-checkmark-circled"></i>
                        <i ng-if="!question.isCorrect && !question.answer" class="is-correct icon ion-close-circled"></i>
                      </div>
                      <div class="option option1" ng-class="{ 'selected' : question.answer }">
                        <span>{{ question.option1 }}</span>
                        <i ng-if="question.isCorrect && question.answer" class="is-correct icon ion-checkmark-circled"></i>
                        <i ng-if="!question.isCorrect && question.answer" class="is-correct icon ion-close-circled"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item card-buttons">
                <div class="card-button button-negative" ng-click="rejectLetter(response)" ng-show="!isExistingChat">
                  <i class="icon ion-close"></i>
                  <div class="button-detail">reject</div>
                </div>
                <div class="button-flip card-button button-profile">
                  <i class="icon ion-person"></i>
                  <div class="button-detail">profile</div>
                </div>
                <div class="card-button button-positive" ng-click="approveLetter(response)" ng-show="!isExistingChat">
                  <i class="icon ion-chatbubbles"></i>
                  <div class="button-detail">start chat</div>
                </div>
              </div>
            </div>

            <div class="card back">
              <div class="back-container">
                <profile-pic-small data-set="{'profile_pic': response.profilePicMed,
                                              'name': response.from,
                                              'age': response.age }"></profile-pic-small>
                <div class="item card-content">
                  <div class="section">
                    <h3>bio</h3>
                    <p>{{ response.bio }}</p>
                  </div>
                  <div class="section">
                    <h3>mutual friends</h3>
                    <p>{{ (response.mutual_friends_count > 0) ? response.mutual_friends_count : 0 }} mutual friends</p>
                  </div>
                  <div class="section">
                    <button class="btn-report button button-outline button-assertive" ng-click="reportUser(ctrl.data.name, ctrl.data.hashedId, ctrl.callback)">
                      Report user
                    </button>
                  </div>
                </div>

                <div class="item card-buttons">
                  <div class="card-button button-negative" ng-click="rejectLetter(response)" ng-show="!isExistingChat">
                    <i class="icon ion-close"></i>
                    <div class="button-detail">reject</div>
                  </div>
                  <div class="card-button button-flip button-back">
                    <i class="icon ion-ios-undo"></i>
                    <div class="button-detail">back</div>
                  </div>
                  <div class="card-button button-positive" ng-click="approveLetter(response)" ng-show="!isExistingChat">
                    <i class="icon ion-chatbubbles"></i>
                    <div class="button-detail">start chat</div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
