<ion-view view-title="Settings">
  <ion-content>
    <ion-list class="settings-list">
      <ion-toggle ng-model="preference.perfectMatch" ng-checked="preference.perfectMatch" ng-change="onChangePerfectMatch()" toggle-class="toggle-calm">
        <h2 class="setting-description">Only see perfect match</h2>
      </ion-toggle>
      <ion-item class="item">
        <h2 class="setting-description">
          Gender preference
        </h2>
        <div class="row">
          <div class="col">
            <ion-checkbox class="inline-checkbox" ng-model="preference.preferFemale" ng-checked="preference.preferFemale" ng-change="onChangePreferFemale()">
              <i class="icon ion-woman"></i>
            </ion-checkbox>
          </div>

          <div class="col">
            <ion-checkbox class="inline-checkbox" ng-model="preference.preferMale" ng-checked="preference.preferMale" ng-change="onChangePreferMale()">
              <i class="icon ion-man"></i>
            </ion-checkbox>
          </div>
        </div>
      </ion-item>
      <ion-item class="item">
        <h2 class="setting-description">
          Maximum distance: <span>{{ preference.distanceRadius }}km</span>
        </h2>
        <div class="range">
          1
          <input type="range" name="distanceRadius" min="1" max="100" ng-model="preference.distanceRadius" ng-change="onChangeDistanceRadius()">
          100
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
