$nav-bar-height: 50px;
$ios-status-bar-height: 20px;
$ios-side-menu-title-height: 120px;

ion-content {
  background-color: $colourBackground;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.loading-container .loading {
  background: none;
}

.spinner-ripple svg {
  width: 100px;
  height: 100px;
  stroke: white;

  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.spinner-dots svg {
  fill: $colourPreloader;
}

// Feedback for loading and empty pages
.feedback {
  height: 90vh;
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap; /* Safari */
  align-items: center;
  -webkit-align-items: center; /* Safari */
  justify-content: center;
  -webkit-justify-content: center; /* Safari */

  h2 {
    @include uppercase-bold-font();
    letter-spacing: 3px;
    font-size: 12px;
    color: $colourPreloader;
    margin: 0 0 8px;
    line-height: 1.4em;
    text-align: center;
  }

  p {
    line-height: 1.4em;
    color: $colourPreloader;
    font-size: 13px;
    text-align: center;
  }

  ion-spinner.spinner svg {
    fill: $colourPreloader;
    stroke: $colourPreloader;
    width: 40px;
    height: 40px;
  }
}

// View container styles
.view-container {
  .scroll-content.has-header {
    top: $nav-bar-height;
  }
}

// List item styles which can be extended by any list
.list-item-heading {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: $colourPrimaryText;
}
.list-item-message {
  font-size: 13px;
}
.list-item-meta {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 12px;
  color: $colourSecondaryText;
}

// this is the common style for question card, we have multiple copies of this previously, just move to default.scss for common use
.questions {
  margin: 20px 0;
  .question {
    margin: 10px 0;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap; /* Safari */
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;

    .shuffle {
      display: table-cell;
      vertical-align: middle;
    }

    .btn-randomise {
      margin-right: 10px;
      height: 100%;
      // use min-height
      height: 0px;
    }

    .option {
      flex: 1;
      max-width: 50%;
      background-color: white;
      border: 1px solid $colourBorder;
      border-radius: 2px;
      padding: 10px;
      font-size: 12.5px;
      line-height: 1.2em;
      color: $colourPrimaryText;
      cursor: pointer;
      margin: 0px !important;
      height: 90px;
      display: flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      text-align: center;

      &.selected {
        color: white;
        font-weight: bold;
      }

      &.option0.selected, &.option1.selected {
        background-color: $colourOption;
        border: 1px solid $colourOption;
      }
    }

    .option0 {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .option1 {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0px;
    }
  }
}

.popup-alert {
  .popup {
    padding: 15px;
    border-radius: 10px;
  }
  .popup-head {
    padding-bottom: 5px;
    border: none;
    .popup-title {
      @include uppercase-bold-font();
      color: $colourPrimaryText;
    }
  }
  .popup-body {
    padding: 15px;
  }
}
