.settings-list {
  .list {
    @extend .list-max-width;
  }
  .setting-header {
    @extend .list-item-heading;
    font-size: 14px;
    white-space: normal;
    line-height: 1.4em;
  }

  .setting-description {
    @extend .list-item-message;
    max-width: 80vw;
    white-space: normal;
  }

  .item-divider {
    @include uppercase-bold-font();
    padding-top: 20px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    color: $colourSecondaryText;
    font-size: 10px;
    background-color: $colourBackground;
    border: none;
    z-index: 0;
  }

  .item-gender {
    i {
      font-size: 35px;
    }
  }

  .radio-icon.icon {
    color: $colourPositive;
  }

  .item-toggle .toggle {
    top: 20px;
  }

  .settings-etc {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 50px;

    h2 {
      @include uppercase-bold-font();
      color: $colourSecondaryText;
      font-size: 12px;
      letter-spacing: 2px;
      margin: 0 0 5px;
    }

    .settings-links {
      list-style-type: none;
      li {
        display: inline;
        margin: 0 5px;
        cursor: pointer;
        a {
          color: $colourSecondaryText;
          font-size: 11px;
          text-decoration: none;
        }
      }
    }
  }

  .button-feedback {
    padding: 0 17px;
  }

  // from angular-slider, customized
  $height: 2px;
  slider, [slider] {
    display: inline-block;
    position: relative;
    height: $height;
    width: 100%;
    margin: 25px 18px 25px 5px;
    vertical-align: middle;

    div {
      white-space: nowrap;
      position: absolute;

      &.bar {
        width: 100%;
        height: 100%;
        border-radius: $height;
        background: linear-gradient(to right, #ccc 0%, #ccc 100%);
        overflow: hidden;
        padding: 0px;
        z-index: 1;
        border: 0px;

        .selection {
          width: 0%;
          height: 100%;
          background: $colourPositive;
        }
      }

      &.handle {
        cursor: pointer;
        width: 27px;
        height: 27px;
        top: -13px;
        z-index: 2;
        border-radius: 100%;
        background-color: white;
        border: $colourBorder 1px solid;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
      }

      &.bubble {
        display: none !important;
        cursor: default;
        top: -22px;
        padding: 1px 3px 1px 3px;
        font-size: 0.7em;
        font-family: sans-serif;

        &.active {
          display: inline-block;
        }

        &.limit {
          color: #777;
        }
      }
    }
  }

  .btn-logout {
    padding: 0 14px;
  }
  .btn-deactivate {
    background-color: $colourPrimary;
    color: white;
  }
}

