.settings-list {
  .setting-header {
    @extend .list-item-heading;
    font-size: 14px;
    white-space: normal;
    line-height: 1.4em;
  }

  .setting-description {
    @extend .list-item-message;
    max-width: 80vw;
    white-space: normal;
  }

  // .inline-checkbox {
  //   border: none;
  // }

  .item-gender {
    // padding-bottom: 0px; // padding already set by inline item

    i {
      font-size: 35px;
    }
  }

  .radio-icon.icon {
    color: $colourPositive;
  }

  .item-toggle .toggle {
    top: 20px;
  }

  .settings-etc {
    width: 100%;
    margin-top: 40px;
    text-align: center;

    h2 {
      @include uppercase-bold-font();
      color: $colourSecondaryText;
      font-size: 12px;
      letter-spacing: 2px;
      margin: 0 0 5px;
    }

    .settings-links {
      list-style-type: none;
      li {
        display: inline;
        margin: 0 5px;
        cursor: pointer;
        a {
          color: $colourSecondaryText;
          font-size: 11px;
          text-decoration: none;
        }
      }
    }
  }

  // from angular-slider, customized
  $height: 2px;
  slider, [slider] {
    display: inline-block;
    position: relative;
    height: $height;
    width: 100%;
    margin: 25px 5px 25px 5px;
    vertical-align: middle;

    div {
      white-space: nowrap;
      position: absolute;

      &.bar {
        width: 100%;
        height: 100%;
        border-radius: $height;
        background: linear-gradient(to right, #ccc 0%, #ccc 100%);
        overflow: hidden;
        padding: 0px;

        .selection {
          width: 0%;
          height: 100%;
          background: $colourPositive;
        }
      }

      &.handle {
        cursor: pointer;
        width: 20px;
        height: 20px;
        top: -8px;
        background-color: #fff;
        border: 1px solid #000;
        z-index: 2;
        border-radius: 100%;

        &:after {
          content: '';
          background-color: #777;
          width: 8px;
          height: 8px;
          position: absolute;
          top: 6px;
          left: 6px;
          border-radius: 100%;

          &:hover {
            background-color: #000;
          }
        }

        &.active:after {
          background-color: #f00;
        }
      }

      &.bubble {
        display: none;
        cursor: default;
        top: -22px;
        padding: 1px 3px 1px 3px;
        font-size: 0.7em;
        font-family: sans-serif;

        &.active {
          display: inline-block;
        }

        &.limit {
          color: #777;
        }
      }
    }
  }
}

