.settings-list {
  .setting-header {
    @extend .list-item-heading;
    font-size: 14px;
    white-space: normal;
    line-height: 1.4em;
  }

  .setting-description {
    @extend .list-item-message;
    max-width: 80vw;
    white-space: normal;
  }

  .item-divider {
    @include uppercase-bold-font();
    padding-top: 20px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    color: $colourSecondaryText;
    font-size: 10px;
  }

  // .inline-checkbox {
  //   border: none;
  // }

  .item-gender {
    // padding-bottom: 0px; // padding already set by inline item

    i {
      font-size: 35px;
    }
  }

  .radio-icon.icon {
    color: $colourPositive;
  }

  .item-toggle .toggle {
    top: 20px;
  }

  .settings-etc {
    width: 100%;
    margin-top: 40px;
    text-align: center;

    h2 {
      @include uppercase-bold-font();
      color: $colourSecondaryText;
      font-size: 12px;
      letter-spacing: 2px;
      margin: 0 0 5px;
    }
    
    .settings-links {
      list-style-type: none;
      li {
        display: inline;
        margin: 0 5px;
        cursor: pointer;
        a {
          color: $colourSecondaryText;
          font-size: 11px;
          text-decoration: none;
        }
      }
    }
  }
}

