// Navbar styles
.nav-bar-block {
  .bar-header {
    background-color: $colourPrimary;
    height: $nav-bar-height !important;
  }

  .bar.bar-stable {
    .title, .button {
      color: white;
    }
    .title {
      top: 3px;
      @include uppercase-bold-font();
      font-size: 17px;
    }
    .button.button-icon.button-clear, .icon {
      &:before {
        font-size: 22px;
      }

      max-height: $nav-bar-height;
      padding-left: 8px;
      padding-right: 8px;
    }
    .notification-bubble {
      border-radius: 50%; // make it circle
      width: 20px;
      height: 20px;
      background-color: $colourPositive;
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 9px;
      position: absolute;
      top: 3px;
      left: 5px;
      z-index: 1;
      cursor: pointer;
    }
  }
}

// For iOS
.platform-ios {
  .nav-bar-block {
    .bar-header {
      height: $nav-bar-height + $ios-status-bar-height !important;
    }
  }
}

