.login-page {
  background-color: $colourPrimary;
  display: flex;
  display: -webkit-flex; /* Safari */
  align-items: center;
  -webkit-align-items: center; /* Safari */
  justify-content: center;
  -webkit-justify-content: center; /* Safari */

  .branding {
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap; /* Safari */
    align-items: center;
    -webkit-align-items: center; /* Safari */

    margin-bottom: 10vh;
    img {
      width: 70vw;
      max-width: 50vh;
    }
  }

  .btn-login {
    border-radius: 10px;
    width: 100%;

    i {
      margin-right: 10px;
    }
  }

  h6 {
    width: 100%;
    text-align: center;
    color: white;
    opacity: 0.6;

    a {
      color: white;
      text-decoration: none;
      border-bottom: dotted 1px $colourBorder;
    }
  }
}

