.onboard2-page {
  padding: 30px 20px;

  .header {
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
    -webkit-flex-direction: column; /* Safari */
    align-items: center;
    -webkit-align-items: center; /* Safari */
    text-align: center;
    h2 {
      @include uppercase-bold-font();
      color: $colourPrimaryText;
      font-size: 18px;
      max-width: 70vw;
    }
    h3 {
      margin: 0;
      color: $colourSecondaryText;
      font-size: 15px;
      max-width: 80vw;
    }
  }

  .questions {
    margin-top: 60px;
    text-align: center;

    h2 {
      @include uppercase-bold-font();
      color: $colourPrimaryText;
      font-size: 18px;
    }
  }

  .btn-complete {
    width: 100%;
  }
}

