.onboard-0 {
  height: 100%;
  width: 100%;
  .box {
    background-color: $colourPrimary;
    height: 100%;
    padding: 10vh 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-start-onboard {
    display: flex;
  }
}

