.answer-question {
  padding: 10px;
  .answer {
    text-align: center;
    &.selected {
      color: $colourPrimary;
    }
  }
  .button {
    width: 100%;
  }
}


//TODO remove if not using qn modal anymore
.answer-question-modal {
  padding: 0 20px 20px;

  .btn-submit {
    width: 100%;
  }
}
