.answer-question {
  padding: 10px;
  .answer {
    text-align: center;
    &.selected {
      color: $colourPrimary;
    }
  }
  .button {
    width: 100%;
  }
}

.questions {
  margin: 20px 0;
  .btn-randomise {
    margin-right: 10px;
    height: 100%;
  }
  .question {
    margin: 10px 0;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap; /* Safari */
    justify-content: center;
    -webkit-justify-content: center;

    .option {
      flex-grow: 2;
      max-width: 40vw;
      background-color: white;
      border: 1px solid $colourBorder;
      border-radius: 2px;
      padding: 10px;
      font-size: 13px;
      line-height: 1.25em;
      color: $colourPrimaryText;
      cursor: pointer;

      &:last-child {
        margin-left: 5px;
      }

      &.selected {
        color: white;
        font-weight: bold;
      }

      &.option0.selected {
        background-color: #FF5467;
      }
      &.option1.selected {
        background-color: #0488CC;
      }
    }
  }
}


//TODO remove if not using qn modal anymore
.answer-question-modal {
  padding: 0 20px 20px;

  .btn-submit {
    width: 100%;
  }
}