.deal.profile-card  {
  margin-bottom: 20px;
  .profile-pic-overlay.deal-header {
    display: flex;
    -webkit-align-items: center; /* Safari */
    align-items:         center;
    .name {
      white-space: normal;
      flex: 1;
      margin-right: 10px;
    }
  }
  .deal-overlay {
    position: absolute;
    bottom: 15vh;
    background-color: $colourPrimary;
    color: white;
    padding: 10px;
    width: 15vh;
    text-align: center;
  }
  .card-content {
    height: 18vh;
    max-height: 200px;
  }
  .learn-more {
    p {
      font-weight: bold;
      text-transform: uppercase;
      color: white;
    }
    background-color: $colourPrimary;
    width: 100%;
    text-align: center;
  }
}

