.deal.profile-card  {
  margin-bottom: 20px;
  .deal-overlay {
    position: absolute;
    bottom: 10vh;
    background-color: $colourPrimary;
    color: white;
    padding: 10px;
    width: 15vh;
    text-align: center;
  }
  .favorite {
    i {
      margin-left: 3vw;
    }
    font-size: 15px;
    color: $colourPrimary;
    float: right;
    border: 1px solid $colourPrimary;
    border-radius: 5px;
    padding: 0 5px;
  }
  .favorite.liked {
    background-color: $colourPrimary;
    color: white;
  }
  .card-content {
    height: 20vh;
  }
}

