.chats-list {
  .chat-from {
    @extend .list-item-heading;
  }
  .chat-last-message {
    @extend .list-item-message;
  }
  .chat-last-activity {
    @extend .list-item-meta;
  }
}

.chat-view {
  background-color: darken($colourBackground, 4%);
}

.messages-list .list {
  padding: 20px 10px 70px;

  .item {
    padding: 0 10px;
    margin: 5px;
    border: none;
    background: none;

    display: flex;
    display: -webkit-flex; /* Safari */
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap; /* Safari */
    align-items: flex-start;
    -webkit-align-items: flex-start; /* Safari */

    .received-msg {
      @include message(received);
    }
    .sent-msg {
      @include message(sent);
    }
  }
}

.enter-message-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  .item-input-wrapper {
    padding: 8px 10px;

    textarea {
      max-height: 40vh;
      height: 21px;
      width: 100%;
      background: none;
      resize: none;
    }
  }
  .send {
    background-color: white;
    color: $colourPrimary;
    margin-left: 2vw;
    border: none;
  }
}

