.my-profile {
  .small-profile-pic {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .bio {
    textarea {
      background-color: $colourBackground;
      width: 75%;
      max-width: 75%;
      padding: 8px;
    }
  }

  .card-buttons {
    padding: 1vh 1vw 5vh;
  }
}
