.letter-wrapper {
  height: 100%;
}
.letter {
  font-size: 16px;
  font-weight: bold;
  // line-height: 1.25;
  .close-letter {
    cursor: pointer;
    float: right;
    height: 30px;
    width: 30px;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    i {
      color: $colourSecondaryText;
    }
  }
  i {

    &.ion-ios-paperplane {
      font-size: 150%;
    }

    &.ion-chevron-left, &.ion-chevron-right {
      margin-top: 2px;
    }

    &.ion-chevron-right {
      margin-left: 2px;
    }
  }
  .front h3 {
    clear: both;
    text-align: center;
    font-weight: bold;
    color: $colourPrimaryText;
  }
  .warning {
    color: $colourPrimary;
    text-align: center;
    margin: 0;
  }
  .warning:empty:before {
    content: '\200b';
  }
  .current {
    color: $colourSecondaryText;
    font-weight: lighter;
    text-align: center;
  }
  .card {
    background-color: white;
    padding: 15px 15px 0 15px;
  }
  .answer-row {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .left,
  .right {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 15px;
    margin: 5vh 0px;
    height: 30vh;
    min-height: 80px;
    border-radius: 5px;
    &.active {
      color: white;
    }
  }
  .left {
    margin-right: 2px;
    border: 1px solid $colourOption;
    color: $colourOption;
  }
  .right {
    margin-left: 2px;
    border: 1px solid $colourOption;
    color: $colourOption;
  }
  .left.active, .right.active {
    background-color: $colourOption;
  }

  .card-button.disabled {
    color: $colourDisabled;
    border-color: $colourDisabled;
  }
}
