.letter-wrapper {
  height: 100%;
}
.letter {
  .card {
    background-color: white;
    padding: 0;
  }

  .front .header-title {
    margin-top: 5vh;
    clear: both;
    text-align: center;
    font-weight: bold;
    color: $colourPrimaryText;
  }

  i {
    &.ion-ios-paperplane {
      font-size: 150%;
    }

    &.ion-chevron-left, &.ion-chevron-right {
      margin-top: 2px;
    }

    &.ion-chevron-right {
      margin-left: 2px;
    }
  }

  .warning {
    color: darken($colourPrimary, 10%);
    text-align: center;
    margin: 10px 0 0 ;
    font-size: 13px;
    &:empty:before {
      content: '\200b';
    }
  }
  
  .current {
    color: $colourSubtitle;
    text-align: center;
    font-size: 12px;
  }

  .answer-row {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding: 1vh 0;
    margin: 2vh 0 3vh;
  }

  .left,
  .right {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-weight: bold;
    padding: 18px;
    height: 40vh;
    max-height: 300px;
    min-height: 80px;
    // border-radius: 5px;
    &.active {
      color: white;
      background-color: $colourOption;
    }
    p {
      font-size: 16px;
    }
  }
  .left {
    // margin-right: 2px;
    border-top: 1px solid rgba($colourOption, 0.3);
    border-bottom: 1px solid rgba($colourOption, 0.3);
    color: $colourOption;
  }
  .right {
    // margin-left: 2px;
    border-left: 1px solid rgba($colourOption, 0.3);
    border-bottom: 1px solid rgba($colourOption, 0.3);
    border-top: 1px solid rgba($colourOption, 0.3);
    color: $colourOption;
  }

  .card-button.disabled {
    color: $colourDisabled;
    border-color: $colourDisabled;
  }
}
