// Letterbox Branding Colors
$colourPrimary: #fa5c4f;
$colourBackground: #F7F7F7;
$colourPositive: #69C333;
$colourNegative: #FA5C4F;
$colourSideMenu: #4D4D4D;
$colourSideMenuItem: #534741;
$colourPrimaryText: #4D4D4D;
$colourSecondaryText: #999999;
$colourSubtitle: #CCCCCC;
$colourBorder: #ddd;

$positive: $colourPositive !default;

