$break-large: 1200px;

.categories {
  display: flex;
  display: -webkit-flex; /* Safari */
  -webkit-flex-flow:  row wrap;
  flex-flow:          row wrap;
  -webkit-justify-content: center; /* Safari */
  justify-content:         center;

  .card {
    width: 46vw;
    height: 46vw;
    max-width: 400px;
    max-height: 400px;
    background: $colourPrimary center center no-repeat;
    background-size: auto 50vw; 
    margin: 3vw 1.5vw 0;

    display: flex;
    display: -webkit-flex; /* Safari */
    align-items: center;
    -webkit-align-items: center; /* Safari */
    justify-content: center;
    -webkit-justify-content: center; /* Safari */
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;

    i {
      color: white;
      font-size: 12vw;
      @media screen and (min-width: $break-large) {
        font-size: 90px;
      }
    }
    h4 {
      @include uppercase-bold-font();
      color: white;
      margin-top: 2vw;
      font-size: 3.5vw;
      letter-spacing: 2px;

      @media screen and (min-width: $break-large) {
        margin-top: 10px;
        font-size: 30px;
      }
    }
  }
}