.deal-view {
  .deal-share-wrapper {
    padding: 10px;
  }
  .share-button {
    width: 100%;
  }
  .img-wrapper {
    padding: 0;
    .deal-img {
      width: 100vw;
      height: 100vw;
      background: $colourPrimary center center no-repeat;
      background-size: cover;
    }
  }
  .deal-title {
    padding: 20px;
    -webkit-align-items: center; /* Safari */
    align-items:         center;
    border-bottom: 1px solid $colourBorder;
    h2 {
      @include uppercase_bold_font();
      color: $colourPrimaryText;
      font-size: 18px;
      margin: 0 5px 0 0;
      flex: 1;
    }
  }
  .deal-info {
    padding: 20px;
    margin-bottom: 10vh;
    .title {
      @include uppercase_bold_font();
      color: $colourSubtitle;
      letter-spacing: 2px;
      font-size: 11px;
      margin-bottom: 5px;
    }
    p {
      letter-spacing: .5px;
      font-size: 13px;
      color: $colourPrimaryText;
      white-space: pre-wrap;
      margin-bottom: 25px;
    }
  }
}

.fullscreen-image {
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center, center;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
  background: rgba(0,0,0,0.7);

  .close-button {
    z-index: 5;
    color: white;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    font-size: 18pt;
    text-align: center;
  }
}

.slider-pager-page i{
  color: white;
}