.deal-share-modal {
  .title {
    @include uppercase_bold_font();
  }
  .bar-header {
    position: relative;
    justify-content: center;
    -webkit-justify-content: center; /* Safari */
    .button-bar {
      max-width: 80vw;
      .button.left {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      .button.right {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

}
.deal-share-seg-control {
  .highlighted {
    background-color: $colourPrimary;
    color: white;
    font-weight: bold;
  }
}

.deal-share-deals {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 10px 0;

  .deal-share-deal {
    text-align: center;
    margin: 8px 0;
    display: flex;
    display: -webkit-flex; /* Safari */
    align-items: center;
    -webkit-align-items: center; /* Safari */
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap; /* Safari */

    .deal-share-deal-image {
      height: 20vw;
      width: 20vw;
      max-height: 100px;
      max-width: 100px;
      border-radius: 50%;
      margin-bottom: 8px;
      background: center center no-repeat;
      background-size: cover;
    }

    .deal-share-deal-title {
      color: $colourPrimaryText;
      letter-spacing: 0.5px;
      font-size: 13px;
      line-height: 1.3;
    }
  }
}
