.deals-list {
  .deal-title {
    $font-size: 15px;
    $line-height: 1.3;
    $lines-to-show: 2;
    @extend .list-item-heading;

    height: $item-avatar-height;

    overflow: hidden;
    white-space: normal;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
  }
}
